@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

/* PRIMERA PARTE */

header{
    display: flex;
    background-color: #1E172F;
    justify-content: space-between;
    padding: 0px 200px 0px 200px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li{
    display: inline;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 470px;
    padding: 9px;
    align-items: center;
}
.boton{
    background:linear-gradient(90deg, #7B46D5,#0F7AD5);
    padding: 15px;
    border-radius: 4px;
    border: none;
    color: white;
}
.cuadroLeft{
    background-color: #2E2550;
    width: 50%;
    display: flex;
    align-items: center;
}
h1{
    color: white;
    font-size: 45px;
    
}
.textFirst{
    color: white;
    font-size: 20px;
}
.firstPart{
    display: flex;
}
.cuadroPrime{
    padding-left: 45%;
}
.cuadroRigth{
    background: url(../images/hojasFondo.jfif);
    width: 50%;
    background-size: cover;
    display: flex;
    align-items: center;
}
.cellphone{
    margin-left: 30%;
}
.botones{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 240px;
    border-radius: 4px;
    justify-content: space-between;
}
.downButton{
    color: #F03B97 ;
    padding: 15px;
    border-radius: 4px;
    border: none;
}

.Features{
    padding: 15px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: #2E2550;
    color: white;
    width: 100px;
}

/* SEGUNDA PARTE */

.secondPart{
    display: flex;
    background-color: #F1F2F7;
    padding-left: 15%;
}
.title{
    color: #F03B97;
    font-size: 50px;
    text-align: center;
    padding-left:10%;
}
.laptop{
    height:464px;
}
.textLaptop{
    font-size: 20px;
    padding-left: 100px;
}
.textCuadro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.screen{
    color: #C53680;
    font-size: 45px;
}
.marketing{
    color: #F41787;
    font-size: 25px;
}
.textico{
    color: black;
    font-size: 18px;
}
.subtitulos{
    display: flex;
    align-items: center;
}
.chulo{
    height: 25px;
    padding-right: 5px;
}

 /* TERCERA PARTE */

.thirdPart{
    background-color: #1e172f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 300px;
    padding-bottom: 70px;
}
.plans{
    color: white;
    font-size: 70px;
    text-align: center;
}
.lorem{
    color: rgb(202, 199, 199);
    text-align: center;
    padding: 0 230px;
    font-size: 20px;
}

/* THREE */

.contenedores{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 1220px;
    justify-content: space-around;
}
.cuadroDeTextos{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: white;
    width: 365px;
    height: 650px;
}
.precios{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #EEEEEE;
    font-size: 35px;
    align-items: center;
    height: 70px;
}
.logos{
    width: 100px;
    padding-left: 36%;
}
.valor{
    font-size: 50px;
    font-weight: 100;
}
.signoDolar{
    font-size: 35px;
    font-weight: 100;
}
h6{
    font-size: 14px;
    padding-bottom: 32px;
    font-weight: 300;
    color:rgb(98, 98, 98);
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 68px;
}
.precioFinal{
    padding-bottom: 10px;
}
.simbolos{
    font-weight: 1000;
}
.textListas{
    font-size: 18px;
}
.signo{
    color: hotpink;
    font-weight: 1000;
}
.nombres{
    font-size: 25px;
    color: #F31A88;
}
.nombres2{
    font-size: 25px;
    font-weight: 600;
}
.textList{
    padding: 0 50px;
    font-size: 17px;
}
.botonSub{
    background-color: #eeeeee;
    padding: 8px 0;
    height: 57px;
    border-radius: 4px;
}
.booton{
    background-color: #eeeeee;
    padding: 8px 0;
    height: 57px;
    border-radius: 4px;
}
.subs{
    padding: 19px;
    width: 196px;
    border: none;
    background: linear-gradient(90deg, #eb65aa, #f41687);
    color: white;
    font-size: 18px;
    border-radius: 6px;
    
}
.subs2{
    padding: 19px;
    width: 196px;
    border: none;
    background-color: #2e2550;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
footer{
    display: flex;
    /* width: 100%; */
    margin: 0 326px;
    padding: 20px 0;
}
.ultimate{
    color: #F3288F;
}
.redes{
    display: flex;
    align-items: center;
    padding-left: 51%;
}
.images{
    width: 20px;
    height: 20px;
    padding-left: 20%;
    text-align: right;
}